.nav-bar {
    background-color: white;
    padding: 10px;
}

.nav-bar > a {
    text-decoration: none;
    color: green;
}

.nav-bar > a:hover {
    text-decoration: underline;
}

.container {
    padding: 15px;
    background-color: green;
}

h1, p{
    color: white;
}